
<div id="main-div">
    <div id="left-block">
        <img src="logo_lix.svg">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Morbi sed arcu nisi.
            Sed ac lobortis erat.
            Curabitur consectetur metus venenatis,
            ullamcorper sapien eu, iaculis erat</p>
    </div>
    <div id="right-block">
        <h2>Páginas</h2>
        <ul>
            <a href="#"><li>Início</li></a>
            <a href="#"><li>Produtos</li></a>
            <a href="#"><li>Sobre Nós</li></a>
            <a href="#"><li>Contato</li></a>
        </ul>
    </div>
</div>

<div id="direitos">
    <p>© 2025 Lix Plásticos Indústria de Embalagens LTDA</p>
</div>
