/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

$primary-color: #004743;
$bg-color: #F1EFEA;


* {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
a {
    color: $bg-color;
}

#main-div {
    padding-left: 150px;
    padding-right: 150px;
}